<!DOCTYPE html>
<html <%= raw @app_start %>>
  <head>
    <title>App Cursos</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= csrf_meta_tags %>
  </head>
  <body class="home" ng-cloak>
    <%= yield %>
    <%= javascript_include_tag 'application'%>
  </body>
</html>
